.guest-nav {
  background-color: $nav-bar;
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.guest-nav-right {
  align-self: center;

    h2 {
      text-align: end;
    }
}

.date-view {
  margin-top: 1%;
  @include flex-center-column;
}

.date-view-input {
  @extend .date-view;
  width: 15%;
  border: 5px solid;
  padding: 1% 5%;

    input {
      margin-bottom: 5%;
      border-color: $black;
      font-size: 1rem;
      width: 100%;
      padding: 5% 30% 5% 30%;;
  }

    button {
      @extend input;
      background-color: $accent;
      
  }
}